h3{
    word-spacing: 5px;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 1px;
    padding: 2%;
}
h3:after{s
    display: block;
    height: 4px;
    margin:0 auto;
    background-color:#E7CC8F;
    content: " ";
    width:190px;
    margin-top: 20px;
}

.alert{
    margin-bottom: 0;
    font-size: 18px;
    background-color: #48120E;
}
.navbar {
    line-height: 3px;
    padding: 0%;
    margin-bottom: 20px;
}
.bar-link{
    display: inline;
    list-style: none;
    text-align: center;
    width: 100%;
}
.left>a{
    text-decoration: none;
    display: inline-block;
    float: left;
    padding: 25px;
    color: white;
    margin: 3px;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
}
.right>a{
    text-decoration: none;
    display: inline-block;
    float: right;
    padding: 25px;
    color:white;
    margin: 3px;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
}
.left>a:hover{
    border-bottom: 4px solid #F8F3E6;
    color: rgba(0, 0, 0, 0.8);
}
.right>a:hover{
    border-bottom: 4px solid #F8F3E6;
    color: rgba(0, 0, 0, 0.8);
}
.bi-exclude{
    margin-right: 10px;
}

.firstchart{border: 2px solid #F8F3E6;}
#curve_chart{ border: 2px solid #F8F3E6;}
#polynomial2_div{border: 2px solid#F8F3E6;}
.four-graph{
    width: 100%; height: 300px;
    border: 2px solid #F8F3E6;
}

#columnchart_material{
    height: 300px; text-align: center;
    border: 2px solid #F8F3E6;
}
#barchart_material{
     height: 300px; text-align: center;
     border: 2px solid #F8F3E6;
}


/* ========================================== MEDIA QUERRRIES =================================================== */
   @media(min-width:1200px){
        .firstchart{height: 204px;}
        .four-graph{ margin-top:30px}
        #columnchart_material{margin-top:30px}
        #barchart_material{margin-top:30px}
}  
@media(max-width:1200px){
    #curve_chart{height: 220px;}
    #polynomial2_div{
        margin-top: 30px;
        height: 295px;
    }
    .four-graph{margin-top: 30px;}
    #columnchart_material{margin-top:30px}
    #barchart_material{margin-top:30px}
}  
@media(max-width:991px){
    .firstchart{height: 216px;}
}
@media(max-width:780px){
    .firstchart{height: 250px;}
    #curve_chart{
        margin-top: 30px;
        text-align: center;
    }
}
@media(max-width:575px){

    #curve_chart{
        margin-top: 20px;
        text-align: center;
        margin-left: 40px;
    }
    #polynomial2_div{
        margin-left:40px;
        text-align: center;
    }
    .four-graph{
        margin-left: 40px;
        text-align: center;
    }
}
@media(max-width:420px){
    #curve_chart{
        margin-top: 20px;
        text-align: center;
        margin-left: 20px;
    }
    #polynomial2_div{
        margin-left:20px;
        text-align: center;
    }
    .four-graph{
        margin-left: 20px;
        text-align: center;
    }
} 



/* @media print{
    body{
        background-color: forestgreen;
    }
}


 */








 /*@media(max-width:991px){
 }
@media(max-width:780px){
  
   

}
@media(max-width:650px){
   
}
@media(max-width:650px){
   
}
@media(max-width:570px){

}
@media(max-width:420px){
  
} 